###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/web-profiler-bundle ###
.var/
###< symfony/web-profiler-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

# Docker / DB local
/docker/postgis-data/

# OS / editor
.DS_Store
.idea/
.vscode/
